form{
    width: 50%;
    height: 200px;
    margin: auto;
    border: 2px solid black;
    border-radius: 5px;
}
button{
    width: 200px;
   /* margin-left: 150px;*/
    margin: 70px 0px 170px 150px;
}
input[type=text]{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 50%;
}
label{
    margin-top: 5px;
}
.checkbox{
   margin-left: 150px;
  
}
span{
    margin-top: 40px;
}
    input[type=checkbox] span{
      margin: 300px 0px 170px 150px;
}
